@use "../../styles.scss" as *;

.wrapper {
     padding: 20px;
     @include flex-column-start;
}
.active {
}
input {
     &.field {
          font-size: $fs-24;
          padding: 18px 48px 18px 16px;
          border: 2px solid $color-gray-b8;
          border-radius: 8px;
     }
}

.errorField {
     border: 2px solid $color-red;
}
.error {
     color: $color-red;
}
