@use "../../styles.scss" as *;

.wrapper {
     width: 100%;
     max-width: 785px;
}
.title {
     font-weight: $fw-medium;
     font-size: $fs-32;
     margin-bottom: 30px;
}
// .slider {
//      color: $color-accent;
// }
.black {
     color: $color-black;
}
.purple {
     color: $color-accent;
}
