@use "../../styles.scss" as *;

.header {
     @include flex-row-space-between {
          justify-content: space-around;
     }
     position: relative;
     z-index: 100;
     width: 100%;
     padding: 20px 10px;
}
.main {
     position: relative;
     top: -24px;
     z-index: 50;
}
.links {
     @include flex-row-space-between;
     width: 50%;
     a:hover {
          transition: all 0.3s;
          background-color: palevioletred;
     }
}
